:root {
  --primaryColor: #7510f7;
  --secondaryColor: black;
  --altPrime: white;
  --altSecond: #d4e0ee;
}

* {
  color: var(--primaryColor);
  font-family: helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: rgba(37, 120, 50, 25%);
  margin: auto;
}

header {
  background-color: var(--secondaryColor);
  width: 100%;
  top: 0;
  z-index: 9999;
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  justify-content: space-around;
}

header h1 {
  color: var(--altPrime);
  font-family: helvetica, arial, sans-serif;
  margin: 5px;
}

.quizContainer {
  height: auto;
  width: auto;
  align-items: center;
  justify-content: center;
}

.quizContainer h1 {
  text-align: center;
  margin: 50px;
  font-size: 55px;
  color: var(--secondaryColor);
}
/*   Intro Section   */
#quizStart {
  height: 70px;
  width: 250px;
  text-align: center;
  color: var(--altPrime);
  padding: 20px 0;
  background: var(--primaryColor);
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
  border: 3px solid var(--primaryColor);
  cursor: pointer;
}

#quizStart:hover {
  background: var(--secondaryColor);
  color: var(--altPrime);
}

/*   Quiz Instructions Section   */
#quizInstructions,
#quiz {
  height: auto;
  width: 600px;
  padding: 25px;
  background-color: var(--altPrime);
  border-radius: 25px 5px;
  border: 2px solid var(--primaryColor);
  font-size: 20px;
  line-height: 1.5;
}

#quizInstructions h2 {
  text-align: center;
  color: var(--secondaryColor);
  font-size: 35px;
  display: flex;
  justify-content: center;
}

#quizInstructions h4 {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}

#quizInstructions #button {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#quizInstructions #button button {
  height: 50px;
  width: 120px;
  margin: 10px 25px;
  border: none;
  outline: none;
  color: var(--altPrime);
  background-color: var(--primaryColor);
  border: 1px solid var(--secondaryColor);
  border-radius: 25px;
  font-size: 20px;
  font-weight: normal;
  font-family: helvetica, arial, sans-serif;
  cursor: pointer;
}

#quizInstructions #button button:last-child {
  margin: 10px 0;
}

#quizInstructions #button button:hover {
  margin: 10px 0;
  background: var(--secondaryColor);
  color: var(--altPrime);
  border: 1px solid var(--primaryColor);
}

/*   Quiz Content Section   */
#quiz {
  display: block;
  height: 480px;
  position: relative;
  display: flex;
}

#quiz #quizHeader {
  height: 50px;
  width: 100%;
  background-color: var(--primaryColor);
  position: absolute;
  padding: 25px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 25px 5px;
}

#quiz #quizHeader h5 {
  font-size: 28px;
  margin: 0 20px;
  color: var(--altPrime);
}

#quiz #quizHeader #timer {
  height: 50px;
  width: 200px;
  background-color: var(--secondaryColor);
  color: var(--altPrime);
  font-size: 18px;
  margin: 25px;
  display: flex;
  flex-direction: row;
  border-radius: 5px 5px;
  position: absolute;
  right: 10px;
}

#quiz #quizHeader #timer h6 {
  font-size: 20px;
  display: grid;
  color: var(--altPrime);
  align-content: center;
  padding: 15px 15px;
}

#quiz #quizHeader #timer #time {
  height: 40px;
  width: 45px;
  background-color: var(--altPrime);
  color: var(--primaryColor);
  align-items: center;
  text-align: center;
  margin: 2px 0 0 27px;
}
