:root {
  --primaryColor: #7510f7;
  --secondaryColor: black;
  --altPrime: white;
  --btns: #f4a261;
  --correct: #06d6a0;
  --wrong: #ef476f;
  --altBkgr: #d4e0ee;
  --primaryBkgr: #81b29a;
}

* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, sans-serif;
  color: var(--primaryColor);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--primaryBkgr);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quizBox {
  padding: 20px;
  width: 800px;
  max-width: 80%;
  background-color: Var(--altPrime);
  border: 2px solid black;
  box-shadow: 0 0 10px 2px;
  border-radius: 25px 25px;
  font-size: 25px;
  font-weight: bold;
}

.btnGrid {
  display: grid;
  padding: 15px;
  margin: 20px 20px;
  gap: 20px;
  grid-template-columns: repeat(2, auto);
}

.option {
  background: var(--altPrime);
  color: var(--secondaryColor);
  border: 1px solid var(--primaryColor);
  box-shadow: 0 0 5px;
  border-radius: 25px;
  padding: 10px 25px;
  font-size: 20px;
}

.option:hover {
  background: var(--btns);
  color: var(--altPrime);
  border: 1px solid var(--primaryColor);
}

.option.correct {
  background: var(--correct);
  color: var(--secondaryColor);
  border: 1px solid var(--secondaryColor);
}

.option.wrong {
    background: var(--wrong);
    color: var(--altPrime);
    border: 1px solid var(--secondaryColor);
  }

.controls {
    display: flex;
    justify-content: center;
     
}

  .btns {
    background: var(--primaryColor);
    color: var(--altPrime);
    border: 1px solid black;
    box-shadow: 0 0 5px;
    border-radius: 25px;
    padding: 10px 25px;
    font-size: 25px;
    font-weight: bold;
  }
  
  .btns:hover {
    background: var(--btns);
    color: var(--altPrime);
    border: 1px solid var(--primaryColor);
  }

  /* .hide {
      display: none;
  } */